@import './base.css';

.navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-height: var(--navigation-size);
}

.form-label {
  display: grid;
  max-width: 350px;
}

.form-input {
  height: 26px;
  padding: 15px;
  border-radius: 5px;
}

.form-button {
  max-width: 350px;
  padding: 15px;
  border-radius: 5px;
}